@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-font: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html, body, #app { height: 100%; }

body { font-family: var(--app-font); }

/***** 基础样式（使用 tw- 前缀）*****/
.tw-scrollbar::-webkit-scrollbar { width: 10px; height: 10px; }
.tw-scrollbar::-webkit-scrollbar-thumb { background-color: rgba(0,0,0,0.2); border-radius: 9999px; }
.tw-scrollbar::-webkit-scrollbar-track { background-color: transparent; }